.b{text-align: center;}
.a{color: blue;}
.c{margin: 5px;
    border: 10px solid grey;}
.d{border: hotpink solid 10px;
border-radius: 10px;}
.e{border: aquamarine solid 20px;
    border-radius: 10px;}
.j,.k,.l{border: aqua solid 5px;}